<nav class="nav-container glass-wave">
    
    <div class="nav-brand">Logo</div>
    
    
    <div class="nav-ul-left ml-4">
        <ul class="nav-ul">
            <li class="nav-li active">
                <a href="#">Home</a>
            </li>
            <li class="nav-li">
                <a href="#">About</a>
            </li>
            <li class="nav-li">
                <a href="#">Services</a>
            </li>
            <li class="nav-li">
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
    
    
    <div class="nav-ul-right">
        <button class="outlined primary sm">Login</button>
        <button class="filled primary sm">Sign Up</button>
    </div>
</nav>